body {
    margin: 0;
    overflow-x: hidden;
    background-color: rgb(156, 164, 167);
    align-content: center;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    display: flex;
    width: 35%;
}

header {
    display: flex;
    background-color: rgb(5, 117, 161);
}

.menu {
    display: flex;
    margin: 3vh 2vw;
    justify-content: space-between;
}

.nav-list {
    display: flex;
    align-items: center;
}

.nav-list ul {
    display: flex;
    list-style: none;
    justify-content: center;
}

.list-items {
    margin: 0 1.5vw;
}

.list-group a {
    text-decoration: none;
    font-size: 1.6vw;
    color: #ffffff;
    font-weight: 400;
    margin: 1vh;
    position: relative; /* Necessário para o pseudo-elemento ::after */
    transition: color 0.3s ease; /* Transição suave para a mudança de cor */
}

.list-group a:hover {
    color: #ffcc00; /* Cor do texto ao passar o mouse */
}

.list-group a::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    display: block;
    margin-top: 5px;
    right: 0;
    background: #ffcc00; /* Cor do sublinhado */
    transition: width 0.3s ease;
    -webkit-transition: width 0.3s ease;
}

.list-group a:hover::after {
    width: 100%;
    left: 0;
    background: #ffcc00;
}

.burger {
    display: none;
    cursor: pointer;
}

.burger div {
    width: 25px;
    height: 3px;
    background-color: rgb(255, 255, 255);
    margin: 5px;
    transition: all 0.3s ease;
}

@media screen and (max-width: 780px) {
    body {
        overflow-x: hidden;
    }

    .list-group {
        position: absolute;
        right: 0px;
        height: 92vh;
        top: 8vh;
        /* Arrumando o texto dentro do hambúrguer */
        background-color: #0e0f13;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
    }

    .list-group li {
        opacity: 0;
    }

    .burger {
        display: block;
    }

    .list-group {
        font-size: 100%;
        border-bottom: 1% solid white;
        padding-top: 5%;
    }
    .list-group a {
        font-size: 3vw; /* Altere o valor conforme necessário */
    }
}

.nav-active {
    transform: translate(0%);
}

/* Animações quando se clica no menu hambúrguer */
@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }

    to {
        opacity: 1;
        transform: translateX(0px);
    }
}

/* Transformando o menu em X */
.toggle .linha1 {
    transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .linha2 {
    opacity: 0;
}

.toggle .linha3 {
    transform: rotate(45deg) translate(-5px, -6px);
}

@media screen and (max-width: 780px) {
    .list-group.nav-active li {
        opacity: 1;
    }
}


.titulo {
    margin-top: 30px;
    text-align: center;
    color: #333;
}

.container {
    margin: 0 auto;
    width: 80%;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Estilo para a tabela */
.table-container {
    overflow-x: auto;
    margin-top: 20px;
    border-top: 2px solid #333; /* Adiciona uma linha superior à tabela */
}

/* Estilo para o cabeçalho da tabela */
table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #333;
    color: #fff;
}

tr:hover {
    background-color: #f2f2f2;
}

/* Estilo para o formulário */
.formulario {
    margin-top: 50px; /* Aumenta o espaço entre a tabela e o formulário */
    padding-top: 50px; /* Ajusta o espaço interno superior */
    border-top: 2px solid #333; /* Adiciona uma linha superior ao formulário */
}

/* Estilo para os campos de entrada */
.grupo label {
    display: block;
    margin-bottom: 10px; /* Aumenta o espaço entre o rótulo e o campo */
    font-weight: bold; /* Destaca os rótulos */
}

/* Adiciona uma borda ao redor dos campos de entrada */
.campo {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
    margin-bottom: 10px; /* Aumenta o espaço entre os campos */
}

/* Ajustes no botão */
.botao {
    background-color: #333;
    color: #fff;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 20px; /* Aumenta o espaço entre os campos e o botão */
}

/* Adiciona uma borda superior ao botão */
.botao:first-child {
    border-top: 2px solid #333;
}

.botao:hover {
    background-color: #555;
}
footer {
    background-color: rgb(5, 117, 161);
    padding: 3px;
}

.fim_texto {
    text-align: center;
    font-weight: bold;
    color: rgb(255, 255, 255);
}

.lista_icones {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2vh 0 1vh 0;
}

.lista_icones li {
    margin: 0 1vw;
}

.lista_icones a {
    text-decoration: none;
    color: rgb(0, 0, 0);
}
