/* ---------------------- Estilos para o corpo da página ---------------------- */
body {
    margin:auto; /* Define uma margem negativa */
    padding: 0%; /* Sem preenchimento */
    border: 0; /* Sem borda */
    line-height: 5; /* Altura da linha */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; /* Fonte */
    background-color: #000;
}


header {
    background-color: black; /* Cor de fundo preto */
    position: fixed; /* Posição fixa */
    top: 0; /* Fixado no topo */
    width: 100%; /* Largura um pouco maior que a tela para evitar lacunas */
    height: 125px; /* Altura fixa */
    z-index: 100; /* Sobreposição */
}
/* --------------------- Estilos para o logotipo ---------------------------- */
.logo {
    position: absolute; /* Posição absoluta */
    left: 0; /* Alinhado à esquerda */
    right: 55px; /* Distância à direita */
    margin: 0 auto; /* Margem automática */
    transition: all 0.3s linear; /* Transição suave */
    width: 200px; /* Largura fixa */
    top: 0px; /* Alinhado ao topo */
}

/* ------------------ Estilos para a imagem do logotipo ---------------------- */
header .logo img {
    transition: all 0.3s linear; /* Transição suave */
    max-width: 100%; /* Largura máxima */
}

/* ------------------ Estilização dos links de navegação --------------------- */
/* Estilos para a navegação */
header nav {
    display: flex; /* Exibição flexível */
    justify-content: space-between; /* Espaçamento entre os itens */
    margin-top: 28px; /* Margem superior */
    transition: all 0.3s linear; /* Transição suave */
}

nav a {
    text-transform: uppercase; /* Transformação em maiúsculas */
    color: #C5B58C; /* Cor do texto */
    font-weight: bold; /* Peso da fonte em negrito */
    font-size: 16px; /* Tamanho da fonte */
    text-decoration: none; /* Sem decoração de texto */
}

/* Estilos para o grupo de navegação à esquerda */
header nav .navGrupo.navEsquerda {
    justify-content: flex-start; /* Alinhamento à esquerda */
}

/* Estilos para os grupos de navegação */
header nav .navGrupo {
    display: flex; /* Exibição flexível */
}

/* Estilos para os links específicos no grupo de navegação à esquerda */
header nav .navGrupo.navEsquerda .home {
    margin-left: 250px; /* Margem à esquerda */
}

header nav .navGrupo.navEsquerda .sobre {
    margin-left: 100px; /* Margem à esquerda */
}

header nav .navGrupo.navEsquerda .discos {
    margin-left: 100px; /* Margem à esquerda */
}

/* Estilos para o grupo de navegação à direita */
header nav .navGrupo.navDireita {
    justify-content: flex-start; /* Alinhamento à esquerda */
}

/* Estilos para os links específicos no grupo de navegação à direita */
header nav .navGrupo.navDireita .noticias {
    margin-right: 100px; /* Margem à direita */
}

header nav .navGrupo.navDireita .catalogo {
    margin-right: 100px; /* Margem à direita */
}

header nav .navGrupo.navDireita .redes {
    margin-right: 250px; /* Margem à direita */
}


/* ------------------- Estilizando o banner principal ------------------------- */
.banner {
    position: relative; /* Adiciona posicionamento relativo ao banner */
    height: 750px; /* Define a altura do banner como 390 pixels */
    margin-top: -300px;
    margin-left: 200px;
}

/* ---------------- Estilizando um texto com gradiente ------------------------ */
.gradient {
    background: linear-gradient(to right, #DEC489, #F6E084, #D1B372, #E3CC97, #BF9A53 100%); /* Define um gradiente linear */
    -webkit-text-fill-color: transparent; /* Faz com que o texto seja transparente para que o gradiente seja visível */
    background-clip: text;
}

/* ------------------- Estilizando o título do banner ------------------------- */
h1 {
    position: absolute; /* Adiciona posicionamento absoluto ao título */
    font-family: demos; /* Define a fonte do título */
    font-size: 68px; /* Define o tamanho da fonte do título */
    letter-spacing: 0.65px; /* Define o espaçamento entre as letras do título */
    line-height: 200%; /* Define a altura da linha como 200% para melhor legibilidade */
    top: 50%; /* Move o título para o centro vertical */
    left: 50%; /* Move o título para o centro horizontal */
    transform: translate(-50%, -50%); /* Centraliza o título completamente */
    margin-top: 200px;
}

/* -------------------- Estilizando elementos adicionais ----------------------- */
.banner1 {
    background-position: center center; /* Centraliza a imagem de fundo horizontal e verticalmente */
    margin-left: 35px;
    margin-top: -100px;
}




























 /*---------------------- Estilização do fim da Pagina ---------------------- */
 footer {
    font-family: demos; /* Define a fonte do título */
    background: linear-gradient(to right, #DEC489, #F6E084, #D1B372, #E3CC97, #BF9A53 100%); /* Gradiente linear */
    text-align: center;
    margin: auto;
    height: 80px; /* Defina a altura desejada aqui */
    padding: 20px; /* Adiciona preenchimento interno para aumentar o espaço ao redor do conteúdo */
}

.iconegit img{
    position: absolute; /* Posição absoluta */
    left: 0; /* Alinhado à esquerda */
    right: 55px; /* Distância à direita */
    margin: 0 auto; /* Margem automática */
    width: 25px;
    margin-top: -70px;
    left: 1500px;
}


.iconelinkedin img{
    position: absolute; /* Posição absoluta */
    left: 0; /* Alinhado à esquerda */
    right: 55px; /* Distância à direita */
    margin: 0 auto; /* Margem automática */
    width: 25px;
    margin-top: -70px;
    left: 1400px;
}

.iconeinstagram img{
    position: absolute; /* Posição absoluta */
    left: 0; /* Alinhado à esquerda */
    right: 55px; /* Distância à direita */
    margin: 0 auto; /* Margem automática */
    width: 39px;
    margin-top: -69px;
    left: 1300px;
}