body {
    margin: 0;
    overflow-x: hidden;
    background-color: rgb(156, 164, 167);
}


.logo {
    display: flex;
    align-items: center;
}

.logo img {
    display: flex;
    width: 35%;
}

header {
    display: flex;
    background-color: rgb(5, 117, 161);
}

.menu {
    display: flex;
    margin: 3vh 2vw;
    justify-content: space-between;
}

.nav-list {
    display: flex;
    align-items: center;

}

.nav-list ul {
    display: flex;
    list-style: none;
    justify-content: center;
}

.list-items {
    margin: 0 1.5vw;
}

.list-group a {
    text-decoration: none;
    font-size: 1.6vw;
    color: #ffffff;
    font-weight: 400;
    margin: 1vh;
}

.burger {
    display: none;
    cursor: pointer;
}

.burger div {
    width: 25px;
    height: 3px;
    background-color: rgb(255, 255, 255);
    margin: 5px;
    transition: all 0.3s ease;
}

@media screen and (max-width:780px) {
    body {
        overflow-x: hidden;
    }

    .list-group {
        position: absolute;
        right: 0px;
        height: 92vh;
        top: 8vh;
        /*Arrumando o texto dentro hambuguer*/
        background-color: #0e0f13;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        /*Ajeitando a transição parar abrir o menu hambuguer*/
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
    }

    .list-group li {
        opacity: 0;
    }

    .burger {
        display: block;
    }

    .list-group {
        font-size: 100%;
        border-bottom: 1% solid white;
        padding-top: 5%;
    }
}

.nav-active {
    transform: translate(0%);
}

/*Animações quando se clica no menu hamburguer*/
@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }

    to {
        opacity: 1;
        transform: translateX(0px);
    }
}

/*Transformando o menu em X*/
.toggle .linha1 {
    transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .linha2 {
    opacity: 0;

}

.toggle .linha3 {
    transform: rotate(45deg) translate(-5px, -6px);
}

@media screen and (max-width: 780px) {
    .list-group.nav-active li {
        opacity: 1;
    }
}


.titulo{
    font-size: 200%;
text-align: center;
color: #030303;
margin-top: 10%;
}

.texto_sobre {
    font-size: 125%;
    color: rgb(0, 0, 0);
    margin: 25%;
    margin-top: 5%;
    text-align: left;
}


footer{
    background-color: rgb(5, 117, 161);
    padding: 3px;
}
.fim_texto{
    text-align: center;
    font-weight: bold;
    color: rgb(255, 255, 255);
}
.lista_icones{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2vh 0 1vh 0;
}
.lista_icones li{
    margin: 0 1vw;
}
.lista_icones a{
    text-decoration: none;
    color: rgb(0, 0, 0);
}



